/*CONTENEDOR ALERTAS*/
.cont-alertas{
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: var(--texto-principal);
    font-family: "Inter", sans-serif;
}

/*CABECERA FILTROS Y BUSCAR*/
.alert-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*TABLA DE ALERTAS*/
.tabla-alertas{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    padding-bottom: 20px;

    height: 70vh;
    overflow-y: auto;
}

table tr th, td{
    white-space: nowrap;
}

.tabla-alertas tr td{
    padding-left: 15px;
}

/*Tipo de alerta*/
.tabla-alertas .tipo-alerta{
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
}

/*Botón de acciones*/
.tabla-alertas .acciones button{
    background-color: transparent;
    color: var(--marca-oscuro);
    border: 1.5px solid var(--marca-oscuro);
    padding: 5px 10px;
}

.tabla-alertas .resuelta{
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;

    border: 1.5px solid var(--exito);
    color: var(--exito);
    font-weight: 700;
}

.tabla-alertas .oculto{
    display: none;
}

.tabla-alertas .acciones button:hover{
    border: 1.5px solid var(--exito);
    color: var(--exito);
}