/*CONTENEDOR DE VENTAS*/
.cont-compras{
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: var(--texto-principal);
    font-family: "Inter", sans-serif;
}




/*TABLA DE VENTAS*/
.tabla-compras{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    padding-bottom: 20px;

    height: 70vh;
    overflow-y: auto;
}

.tabla-compras table thead th{
    position: sticky;
    top: 0;
    z-index: 0;
    background-color: white;
}

.tabla-compras .provee{
    font-weight: 700;
}

.tabla-compras table th{
    padding: 10px;
    font-weight: 700;
    font-size: 12px;
}

.tabla-compras .ticket{
    font-weight: 700;
}

/*Estados*/
.estado-compra{
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
}

.tabla-compras .confir{
    background-color: #bbeee180;
    color: var(--exito);
    border-left: 2px solid var(--exito);
}

.tabla-compras .anulada{
    background-color: #eec5bbad;
    color: var(--peligro);
    border-left: 2px solid var(--peligro);
}

/*Botones de acciones*/
.tabla-compras .acciones button{
    padding: 5px;
    background-color: white;
    color: var(--marca-oscuro);
    border-radius: 5px;
    border: 1px solid var(--marca-oscuro);
}

.tabla-compras .acciones button:hover{
    background-color: var(--marca-primario);
    color: white;
}