/*CONTENEDOR REPORTES*/
.cont-reportes{
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: var(--texto-principal);
    font-family: "Inter", sans-serif;
}

/*BOTON DE EXPORTAR*/
.boton-exportar .btn-exportar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.boton-exportar span img{
    width: 25px;
}

/*CARDS DEL MÓDULO REPORTES*/
.cards-reportes{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 20px;
    margin-top: 20px;
}